* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}
/* header and nav styles */

.text-primary{
    color: #fd6e0a;
    
}

.btn1{
    height: 64px;
    border-radius: 5px;
    background: #fd6e0a;
    color: white;
    font-size: 20px;
    border: 0;
    padding: 18px 35;
}

nav{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
   
}
nav ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
    
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
    font-family: 'Sevillana', cursive;
}

/* banner styles */
.banner{
    margin: 0px 200px;
    display: flex;
    align-items: center;
 
    
}
.head-title {
    
    font-size: 50px;
    font-weight: 900
    
}
.head-sub-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-para {
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
}

header {
    background: #fff8f3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* Main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 100px;
}
/* About section style */
.about {
    
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.section-title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;

}
.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    padding: 0 20px;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
}
.about .info-title {
    
    font-size: 20px;
    color: #757575;
}
.about .infodescription {
    font-weight: 700;
    font-size: 20px;
    color: #474747
}
/* .bg {
    background-color: #fd6e0a;

} */
/* Services Styles */
.skills {
   
    text-align: center;
}
.skills-container {
    display: flex;
    gap: 24px;
}
.skill-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 800p;
    font-size: 20px;
    color: #000000;
}
.skill-description{
    
    font-size: 16px;
    color: #474747
    
}
.skill {
   
    background: #fffff;
    box-shadow: 0px 6px 50px rgba(0,0,0,0.06);
    padding: 30px;
    
}
/* Resume Styles */